<div>
  <h1 class="text-7xl font-black md:pt-14 tracking-tight mb-5 ">
    Scraping is boring. 
    <br>
    But we love it.
  </h1>
  <p class="text-2xl">Boring Scraping is a <span class="font-bold">web scraping agency</span> that builds custom scrapers.
    <br>
    We extract the data you need — legally, efficiently, and at scale.
  </p>

  <div class="mt-10">
    <%= render(ButtonComponent.new(size: :default)) do %>
      Get in touch
    <% end %>
  </div>
</div>

